.table-style{
    width:75%;
    border:1px solid purple;
    background-color: rgb(224, 159, 189);
    text-align: left;
    font-weight: bolder;
}

.sutun{
    border:1px solid purple;
    font-weight: lighter;
}

p{
    border:5px solid purple;
    padding: 30px;
    margin: 50px;
    font-weight: bolder;
    text-align: center;
}